html, body {
    background: #11131e;
    height: 100%;
    width: 100%;
}

.hero {
    position: relative;
    background: radial-gradient(#2c666e, #161b33);
    background-size: 400% 400%;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: calc(var(--gap) * 2);
    overflow: hidden;
    animation: bg-animation 20s alternate infinite;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    background: #0d0c1d;
    border-radius: 5rem;
    /* box-shadow: 0 0 1rem 1rem #0d0c1d; */
    color: white;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

@keyframes bg-animation {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 400% 400%;
    }
}